html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.ce-block__content h1 {
  display: block !important;
  font-size: 2rem !important;
  margin-block-start: 0.67rem !important;
  margin-block-end: 0.67rem !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  font-weight: bold !important;
}

.ce-block__content h2 {
  display: block !important;
  font-size: 1.5rem !important;
  margin-block-start: 0.83rem !important;
  margin-block-end: 0.83rem !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  font-weight: bold !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
